	<h1><%= title %></h1>

	<div id="placeholder"></div>

	<p>This chart will automatically update with the latest polling numbers every 10 seconds. Poll numbers reflect the ratio of up to down votes the host received over the last two minutes. You get 5 up or down votes per minute.</p>

	<p>You have <span id="votesRemaining">5</span> votes remaining.</p>

	<p class="userControls"><span class="upVote" data-sub-id="1">+</span>Brian<span class="downVote" data-sub-id="1">&ndash;</span></p>
	<p class="userControls"><span class="upVote" data-sub-id="2">+</span>Justin<span class="downVote" data-sub-id="2">&ndash;</span></p>
