body
	padding 50px
	width 600px
	font 14px "Lucida Grande", Helvetica, Arial, sans-serif
	-moz-user-select -moz-none
	-khtml-user-select none
	-webkit-user-select none
	-o-user-select none
	user-select none
#placeholder
	width 600px
	height 100px
.legend
	opacity .6
a
	color #00B7FF

#votesRemaining
	font-weight bold
	
.upVote, .downVote
	font-size 30px
	font-weight bold
	margin -5px 5px 0px 5px
	display inline-block
	vertical-align middle
	cursor pointer
	
.upVote
	color green

.downVote
	color red

